<div class='mb-3 container d-flex justify-content-between flex-column align-items-center'>
  <h1 class='fs-1'>Stupid Coaching</h1>
  <p class='fs-1'>Your Question: <%= @question %></p>
  <p class='fs-1'>Coach's Answer: <%= @answer %></p>
  <%= link_to 'Ask a Question again', ask_path, class: 'btn btn-primary fs-3'  %>
</div>
